<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.ztzhome.zblog.mapper.AdminMapper">

    <!-- 定义 resultMap -->
    <resultMap id="AdminResultMap" type="xyz.ztzhome.zblog.entity.Bean.Admin">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
    </resultMap>

    <!-- 插入管理员 -->
    <insert id="insertAdmin" parameterType="xyz.ztzhome.zblog.entity.Bean.Admin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- 必填字段 -->
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <!-- 可选字段 -->
            <if test="email != null">email,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <!-- 必填字段 -->
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <!-- 可选字段 -->
            <if test="email != null">#{email},</if>
        </trim>
    </insert>

    <!-- 根据账号查询 -->
    <select id="selectByAccount" resultMap="AdminResultMap">
        SELECT * FROM tb_admin WHERE account = #{account}
    </select>
    
    <!-- 根据邮箱查询 -->
    <select id="selectByEmail" resultMap="AdminResultMap">
        SELECT * FROM tb_admin WHERE email = #{email}
    </select>
    
    <!-- 检查账号是否存在 -->
    <select id="existsByAccount" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0 FROM tb_admin WHERE account = #{account}
    </select>
    
    <!-- 检查邮箱是否存在 -->
    <select id="existsByEmail" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0 FROM tb_admin WHERE email = #{email}
    </select>
    
    <!-- 根据ID查询管理员 -->
    <select id="selectAdminById" resultMap="AdminResultMap">
        SELECT * FROM tb_admin WHERE id = #{id}
    </select>

    <!-- 更新管理员信息 -->
    <update id="updateAdmin" parameterType="xyz.ztzhome.zblog.entity.Bean.Admin">
        UPDATE tb_admin
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
            <if test="account != null and account != ''">
                AND account = #{account}
            </if>
        </where>
    </update>

    <!-- 根据ID删除管理员 -->
    <delete id="deleteAdminById" parameterType="long">
        DELETE FROM tb_admin WHERE id = #{id}
    </delete>

</mapper>