<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.ztzhome.zblog.mapper.ArtistMapper">

    <insert id="insertArtist" parameterType="xyz.ztzhome.zblog.entity.Bean.Artist" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_artist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="artistName != null">artist_name,</if>
            <if test="gender != null">gender,</if>
            <if test="avatar != null">avatar,</if>
            <if test="birth != null">birth,</if>
            <if test="area != null">area,</if>
            <if test="introduction != null">introduction,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="artistName != null">#{artistName},</if>
            <if test="gender != null">#{gender},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="birth != null">#{birth},</if>
            <if test="area != null">#{area},</if>
            <if test="introduction != null">#{introduction},</if>
        </trim>
    </insert>

    <select id="getArtistById" resultType="xyz.ztzhome.zblog.entity.Bean.Artist">
        select * from tb_artist where id=#{id}
    </select>
    <select id="selectByArtistName" resultType="xyz.ztzhome.zblog.entity.Bean.Artist">
        select * from tb_artist where artist_name=#{artistName}
    </select>
    <select id="selectByArtistId" resultType="xyz.ztzhome.zblog.entity.Bean.Artist">
        SELECT * from tb_artist where id=#{artistId}
    </select>
</mapper> 