<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.ztzhome.zblog.mapper.SongMapper">

    <resultMap id="songResultMap" type="xyz.ztzhome.zblog.entity.Bean.Song">
        <id property="id" column="id"/>
        <result property="singerId" column="singer_id"/>
        <result property="name" column="name"/>
        <result property="album" column="album"/>
        <result property="duration" column="duration"/>
        <result property="style" column="style"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="audioUrl" column="audio_url"/>
        <result property="releaseTime" column="release_time"/>
    </resultMap>
    <insert id="insertSong" parameterType="xyz.ztzhome.zblog.entity.Bean.Song" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="singerId != null">singer_id,</if>
            <if test="name != null">name,</if>
            <if test="album != null">album,</if>
            <if test="duration != null">duration,</if>
            <if test="style != null">style,</if>
            <if test="coverUrl != null">cover_url,</if>
            <if test="audioUrl != null">audio_url,</if>
            <if test="releaseTime != null">release_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="singerId != null">#{singerId},</if>
            <if test="name != null">#{name},</if>
            <if test="album != null">#{album},</if>
            <if test="duration != null">#{duration},</if>
            <if test="style != null">#{style},</if>
            <if test="coverUrl != null">#{coverUrl},</if>
            <if test="audioUrl != null">#{audioUrl},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
        </trim>
    </insert>
    <!-- 更新歌曲信息 (动态字段更新) -->
    <update id="updateSong" parameterType="xyz.ztzhome.zblog.entity.Bean.Song">
        UPDATE tb_song
        <set>
            <if test="singerId != null">singer_id = #{singerId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="album != null and album != ''">album = #{album},</if>
            <if test="duration != null and duration != ''">duration = #{duration},</if>
            <if test="style != null and style != ''">style = #{style},</if>
            <if test="coverUrl != null and coverUrl != ''">cover_url = #{coverUrl},</if>
            <if test="audioUrl != null and audioUrl != ''">audio_url = #{audioUrl},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteSong">
        delete from tb_song where id=#{id}
    </delete>

    <!--获取随机音乐-->
    <select id="getRandomSongsWithArtist" resultType="xyz.ztzhome.zblog.entity.Bean.Song">
        SELECT * from tb_song
    </select>

    <select id="selectSongById" resultType="xyz.ztzhome.zblog.entity.Bean.Song">
        select * from tb_song where id=#{songId}
    </select>

    <!-- 根据歌手ID和歌曲名称查询 -->
    <select id="selectBySingerIdAndName" resultType="xyz.ztzhome.zblog.entity.Bean.Song">
        SELECT *
        FROM tb_song
        WHERE singer_id = #{singerId}
          AND name = #{songName}
    </select>

    <!-- 根据名称模糊查询 -->
    <select id="selectSongsByNameLike" resultMap="songResultMap">
        SELECT * FROM tb_song
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <!-- 根据歌曲名称模糊查询(带歌手信息) -->
    <select id="selectSongVOsByNameLike" resultType="xyz.ztzhome.zblog.entity.VO.SongVO">
        SELECT
            s.id as song_id,
            s.singer_id,
            si.singer_name,
            s.name as song_name,
            s.album,
            s.duration,
            s.style,
            s.cover_url,
            s.audio_url,
            s.release_time
        FROM tb_song s
                 LEFT JOIN tb_singer si ON s.singer_id = si.id
        WHERE s.name LIKE CONCAT('%', #{name}, '%')
    </select>
</mapper>